html {
    background-image: url(/Images/030.jpg);
    background-attachment: fixed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.myclass {
    background-color: lightgray;
    border: 1px solid green;
    padding: 0px 10px;
    width:30%;
}

.myclass2 {
    color:white;
    background-color: black;
    border: 1px solid green;
    padding: 0px 10px;
    width: 30%;
}



